{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block content %}

<h1>Accueil</h1>

<ul>
    <li><a href="{{ path('app_login') }}">Connexion</a></li>
    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
</ul>
{% endblock %}
